---
layout: default
comments: true
---

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h2>{{ page.title }}</h2>
            <!-- {% if page.subtitle %}
            <span class="subheading">{{ page.subtitle }}</span>
            {% endif %} -->
            <div class="post-tags">
              {% if post %}
                {% assign tags = post.tags %}
              {% else %}
                {% assign tags = page.tags %}
              {% endif %}
              {% for tag in tags %}
                {% capture tag_name %}{{ site.data.format[tag] }}{% endcapture %}
                  <a class="btn btn-tags-in-post" href="/tags/#{{ tag_name | slugize }}">#{{ tag_name }}</a>
                  <!-- {% unless forloop.last %},{% endunless %} -->
              {% endfor %}
            </div>
            <br/>
            <span class="meta">{{ site.author }} | {{ page.date | date: '%Y. %m. %d. %R' }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Prev</a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next &rarr;</a>
          {% endif %}

        </div>

        <hr>
        
        {% if page.comments != false %}
          {% include disqus.html %}
        {% endif %}  
      </div>
    </div>
  </div>

      
